################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/AutomationInstallerScript/v16/.suo
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/AutomationInstallerScript/v16
/emscripten/testdemo/a.out.js
/emscripten/testdemo/a.out.wasm
/emscripten/1.test_helloworld/a.out.wasm
/emscripten/1.test_helloworld/a.out.js
